<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <!-- People are reporting random ExecutionEngineException crashes during GC in Terraria.
        The error signature matches the signature from this KB article:
        
        https://support.microsoft.com/en-us/kb/2679415
        
        Adding the gcConcurrent flag is supposed to prevent this issue from happening.
        
        People are also reporting crashes without stack traces.
        
        The legacyCorruptedStateExceptionsPolicy flag should at least let us get a stack trace.
   -->
   <runtime>
       <gcConcurrent enabled="false"/>
       <legacyCorruptedStateExceptionsPolicy enabled="true" />
   </runtime>
</configuration>